| Приватная страница приложения
form#form(method="post" action="/admin")
  div
    label Логин
    input(type="email" name="email")
  div
    label email
    input(type="password" name="password")
  button Войти
