<ul class="slider-articles">
	<li ng-repeat="itemSlider in dataSlider">
		<div>
			<a href="" class="wrapper-img">
				<img src="app/images/cube/1.jpg" alt="popula-articles-slider" title="popula-articles-slider"/>
			</a>

			<p>
				{{$index}}
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolores eligendi, incidunt itaque suscipit velit? Lorem ipsum dolor sit amet,
				consectetur
				adipisicing elit. Dolore dolores eligendi, incidunt itaque suscipit velit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolores
				eligendi,
				incidunt itaque suscipit velit?
			</p>
		</div>
		<div class="wrapper-link"><a href="">читать далее</a></div>
	</li>
</ul>
