<article class="list-category">
  <div class="row">
    <div class="cell">
      <h1 class="title">
        <a ng-href="{{params.lineCategory}}"
           class="backward">Назад
        </a>
        <span ng-bind="category.name"></span>
      </h1>

      <div class="wrapper-content">
        <div class="wrapper-img">
          <img ng-src="app/images/category-images/{{category.categoryImage.src}}"
               ng-attr-alt="{{category.categoryImage.alt}}"/>
        </div>
        <div class="content-list-category" ng-bind="category.text"></div>
      </div>
      <ul class="sub-category">
        <li ng-repeat="article in category.articles">
          <cube href-link="{{params.lineCategory}}/{{category.slug}}/{{article.slug}}"
                text="{{article.link_text}}"
                front="{{article.articleImage.src}}"></cube>
          <a class="link-text"
             ng-href="{{params.lineCategory}}/{{category.slug}}/{{article.slug}}"
             hover
             ng-bind="article.name"></a>
        </li>
      </ul>
      <div class="wrapper-popular">
        <h2>Популярные статьи</h2>

        <div class="popular">
          <popular-slider url="headerSlider"
                          options='{adaptiveHeight: true,speed: 700,easing: "ease-in-out",touchEnabled: true,controls: true,pager: true,startSlide: 0,useCSS: true,slideWidth: 260, minSlides: 1,maxSlides: 3,moveSlides: 1}'></popular-slider>
        </div>
      </div>
    </div>
    <aside class="cell aside">
      <div class="advertising">
        <strong>Здесь может быть <br>Ваша реклама</strong>
      </div>
    </aside>
  </div>
</article>
