<article class="list-category">
	<div class="row">
		<div class="cell">
			<h1 class="title"><a href="./" class="backward">Назад</a><span>Гороскопы</span></h1>

			<div class="wrapper-content">
				<div class="wrapper-img">
					<img src="app/
					images/categories_images/zodiac.jpg" alt="list-horoscopes-image"/>
				</div>
				<div class="content-list-category">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. At error fugiat modi molestias recusandae, repellat. Adipisci aperiam asperiores aspernatur
					commodi
					consequatur cupiditate deleniti dignissimos dolor ducimus ea eaque earum ex exercitationem facere facilis, iure laboriosam nam nobis officiis placeat
					provident quisquam repellendus saepe sequi soluta suscipit, voluptas voluptatum! Accusamus consequuntur debitis, dignissimos ducimus enim esse
					expedita fuga
					hic id nam neque nihil obcaecati, pariatur perferendis quibusdam saepe sapiente similique tenetur ut vel. Aperiam autem consectetur dolorum ducimus
					eligendi
					eos expedita harum hic id ipsa ipsam, ipsum laboriosam laborum nesciunt nihil non nostrum, numquam quae quaerat quisquam recusandae repellendus rerum
					sequi
					sit totam. Aperiam aspernatur blanditiis consequuntur incidunt placeat provident sequi tempora! Alias, consectetur dolor, error eveniet fugit iusto
					nulla
					perspiciatis possimus quae quaerat quibusdam quos reiciendis soluta temporibus ullam unde voluptate voluptatum! Atque eaque facere molestiae!
					Adipisci,
					delectus dicta eaque eligendi fuga inventore odit, omnis, provident similique temporibus veritatis vitae voluptas! Autem delectus deserunt dicta dolor
					dolore
					ducimus ea eius, harum inventore, magni neque nostrum nulla numquam obcaecati odit repudiandae, ut voluptas? Alias aliquid aut blanditiis consequuntur
					corporis cumque dolore earum error, est eum eveniet fugit harum in iste nemo nulla odit qui quisquam rem reprehenderit vel voluptas voluptate
					voluptatem.
				</div>
			</div>
			<ul class="sub-category">
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/japane.jpg"></cube>
					<a class="link-text" ui-sref="category({lineCategory:'horoscopes',category:'japanese_horoscope'})" hover>Японский гороскоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/2.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Гороскоп друидов</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/3.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Цветочный гороскоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/4.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Зороастрийский гороскоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/5.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Греческий гороскоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/6.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Мифический гороспоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/1.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Японский гороскоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/2.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Горосклп друидов</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/3.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Цветочный гороскоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/4.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Зороастрийский гороскоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/5.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Греческий гороскоп</a>
				</li>
				<li>
					<cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/6.jpg"></cube>
					<a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Мифический гороспоп</a>
				</li>
			</ul>
			<div class="wrapper-popular">
				<h2>Популярные статьи</h2>
				<div class="popular">
					<popular-slider url="headerSlider"
							  options='{adaptiveHeight: true,speed: 700,easing: "ease-in-out",touchEnabled: true,controls: true,pager: true,startSlide: 0,useCSS: true,slideWidth: 260, minSlides: 1,maxSlides: 3,moveSlides: 1}'></popular-slider>
				</div>
			</div>
		</div>
		<aside class="cell aside">
			<div class="advertising">
				<strong>Здесь может быть <br>Ваша реклама</strong>
			</div>
		</aside>
	</div>
</article>
