<article class="list-category">
  <div class="row">
    <div class="cell">
      <h1 class="title"><a href="./" class="backward">Назад</a><span>Гороскопы</span></h1>

      <div class="wrapper-content">
        <div class="wrapper-img" ng-if="linecategory.linecategoryImage.src">
          <img ng-src="app/images/categories_images/{{linecategory.linecategoryImage.src}}"
               ng-attr-alt="{{linecategory.linecategoryImage.alt}}"/>
        </div>
        <div class="content-list-category" ng-bind="linecategory.text"></div>
      </div>
      <ul class="sub-category">
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/japane.jpg"></cube>
          <a class="link-text" ui-sref="category({lineCategory:'horoscopes',category:'japanese_horoscope'})" hover>Японский гороскоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/2.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Гороскоп друидов</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/3.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Цветочный гороскоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/4.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Зороастрийский гороскоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/5.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Греческий гороскоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/6.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Мифический гороспоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/1.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Японский гороскоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/2.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Горосклп друидов</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/3.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Цветочный гороскоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/4.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Зороастрийский гороскоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/5.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Греческий гороскоп</a>
        </li>
        <li>
          <cube href-link="{{category.slug}}/horoscopes/japanese_horoscope" text="Перейти" front="cube/6.jpg"></cube>
          <a class="link-text" ng-href="{{category.slug}}/japanese_horoscope" hover>Мифический гороспоп</a>
        </li>
      </ul>
      <div class="wrapper-popular">
        <h2>Популярные статьи</h2>

        <div class="popular">
          <popular-slider url="headerSlider"
                          options='{adaptiveHeight: true,speed: 700,easing: "ease-in-out",touchEnabled: true,controls: true,pager: true,startSlide: 0,useCSS: true,slideWidth: 260, minSlides: 1,maxSlides: 3,moveSlides: 1}'></popular-slider>
        </div>
      </div>
    </div>
    <aside class="cell aside">
      <div class="advertising">
        <strong>Здесь может быть <br>Ваша реклама</strong>
      </div>
    </aside>
  </div>
</article>
