<article class="list-category">
  <div class="row">
    <div class="cell" add-height>
      <h1 class="title">
        <a href="./" class="backward">Назад</a>
        <span ng-bind="linecategory.name"></span>
      </h1>

      <div class="wrapper-content">
        <div class="wrapper-img" ng-if="linecategory.linecategoryImage.src">
          <img ng-src="app/images/categories_images/{{linecategory.linecategoryImage.src}}"
               ng-attr-alt="{{linecategory.linecategoryImage.alt}}"/>
        </div>
        <div class="content-list-category" ng-bind="linecategory.text"></div>
      </div>
      <ul class="sub-category">
        <li ng-repeat="category in linecategory.categories">
          <cube href-link="{{getHref('japanese_horoscope')}}"
                text="Перейти"
                front="category-images/{{category.categoryImage.src}}"></cube>
          <a class="link-text" ui-sref="{{sref({category:'japanese_horoscope'})}}" hover ng-bind="category.name"></a>
        </li>
      </ul>
      <div class="wrapper-popular">
        <h2>Популярные статьи</h2>

        <div class="popular">
          <popular-slider category-id=''
                          options='{adaptiveHeight: true,speed: 700,easing: "ease-in-out",touchEnabled: true,controls: true,pager: true,startSlide: 0,useCSS: true,slideWidth: 260, minSlides: 1,maxSlides: 3,moveSlides: 1}'></popular-slider>
        </div>
      </div>
    </div>
    <aside class="cell aside" add-height>
      <div class="advertising">
        <strong>Здесь может быть <br>Ваша реклама</strong>
      </div>
    </aside>
  </div>
</article>
